Repository bigbite/benenson, pull requests merged in 2019-01, with the labels that each got.

#52 Update home.php
  home.php
Labels: enhancement

#54 Update analytics-output.php
  includes/analytics-output.php
Labels: bug, chore

#89 Add filters to Post List Block
  block-languages/benenson-blocks.pot
  includes/block-translations.php
  languages/ar.mo
  languages/ar.po
  languages/benenson.pot
  languages/de_DE.mo
  languages/de_DE.po
  languages/en_US.mo
  languages/en_US.po
  languages/es_ES.mo
  languages/es_ES.po
  languages/fa.mo
  languages/fa.po
  languages/fa_IR.mo
  languages/fa_IR.po
  languages/fr_FR.mo
  languages/fr_FR.po
  languages/fr_ML.mo
  languages/fr_ML.po
  languages/pt.mo
  languages/pt.po
  src/scripts/blocks/post-list/DisplayComponent.js
Labels: [block] Post List

#83 Add size filter to action block
  block-languages/benenson-blocks.pot
  includes/block-translations.php
  languages/ar.po
  languages/benenson.pot
  languages/de_DE.po
  languages/en_US.po
  languages/es_ES.po
  languages/fa.po
  languages/fa_IR.po
  languages/fr_FR.po
  languages/fr_ML.po
  languages/pt.po
  src/scripts/blocks/action/BlockEdit.js
Labels: [block] Action, enhancement

#94 Add filters to Links with Icons block
  block-languages/benenson-blocks.pot
  includes/block-translations.php
  languages/ar.po
  languages/benenson.pot
  languages/de_DE.po
  languages/en_US.po
  languages/es_ES.po
  languages/fa.po
  languages/fa_IR.po
  languages/fr_FR.po
  languages/fr_ML.po
  languages/pt.po
  src/scripts/blocks/links-with-icons/BlockEdit.js
  src/scripts/blocks/links-with-icons/InnerBlockEdit.js
Labels: [block] Links with Icons, enhancement

#99 Add filters to Section block
  block-languages/benenson-blocks.pot
  includes/block-translations.php
  languages/ar.po
  languages/benenson.pot
  languages/de_DE.po
  languages/en_US.po
  languages/es_ES.po
  languages/fa.po
  languages/fa_IR.po
  languages/fr_FR.po
  languages/fr_ML.po
  languages/pt.po
  src/scripts/blocks/section/DisplayComponent.js
Labels: [block] Section, enhancement

#98 Add filters to Slider block
  block-languages/benenson-blocks.pot
  includes/block-translations.php
  src/scripts/blocks/slider/DisplayComponent.js
Labels: [block] Slider, enhancement

#96 Add filters to Menu block
  block-languages/benenson-blocks.pot
  includes/block-translations.php
  src/scripts/blocks/menu/DisplayComponent.js
Labels: [block] Menu, enhancement

#95 Add filters to Logo Group block
  src/scripts/blocks/logo-list/BlockEdit.js
  src/scripts/blocks/logo-list/InnerBlockEdit.js
Labels: [block] Logo List, enhancement

#93 Add filters to Link block
  block-languages/benenson-blocks.pot
  includes/block-translations.php
  languages/ar.po
  languages/benenson.pot
  languages/de_DE.po
  languages/en_US.po
  languages/es_ES.po
  languages/fa.po
  languages/fa_IR.po
  languages/fr_FR.po
  languages/fr_ML.po
  languages/pt.po
  src/scripts/blocks/link/DisplayComponent.js
Labels: [block] Link, enhancement

#92 Add filters to Key Facts
  block-languages/benenson-blocks.pot
  includes/block-translations.php
  src/scripts/blocks/key-facts/index.js
Labels: [block] Key Facts, enhancement

#91 Add filters to Image block
  block-languages/benenson-blocks.pot
  includes/block-translations.php
  languages/ar.po
  languages/benenson.pot
  languages/de_DE.po
  languages/en_US.po
  languages/es_ES.po
  languages/fa.po
  languages/fa_IR.po
  languages/fr_FR.po
  languages/fr_ML.po
  languages/pt.po
  src/scripts/blocks/image/BlockEdit.js
Labels: [block] Image, enhancement

#102 Update scripts-and-styles.php
  includes/scripts-and-styles.php
Labels: chore

#86 Add filters to banner (unused) and header blocks
  block-languages/benenson-blocks.pot
  includes/block-translations.php
  languages/benenson.pot
  languages/de_DE.po
  languages/en_US.po
  languages/es_ES.po
  languages/fa.po
  languages/fa_IR.po
  languages/fr_FR.po
  languages/fr_ML.po
  languages/pt.po
  src/scripts/blocks/banner/DisplayComponent.js
  src/scripts/blocks/header/DisplayComponent.js
Labels: [block] Header, enhancement

#61 Update .travis.yml
  .travis.yml
Labels: enhancement

#85 Add filters to Appearance Options
  block-languages/benenson-blocks.pot
  includes/block-translations.php
  languages/ar.po
  languages/benenson.pot
  languages/de_DE.po
  languages/en_US.po
  languages/es_ES.po
  languages/fa.po
  languages/fa_IR.po
  languages/fr_FR.po
  languages/fr_ML.po
  languages/pt.po
  src/scripts/blocks/appearance-options/index.js
Labels: [component] Appearance Options, enhancement

#105 Add contribution guidelines
  CONTRIBUTING.md
  bin/build.sh
Labels: chore

#100 Add simple packages build
  .eslintrc
  .gitignore
  block-languages/benenson-blocks.pot
  includes/block-translations.php
  includes/scripts-and-styles.php
  languages/ar.po
  languages/benenson.pot
  languages/de_DE.po
  languages/en_US.po
  languages/es_ES.po
  languages/fa.po
  languages/fa_IR.po
  languages/fr_FR.po
  languages/fr_ML.po
  languages/pt.po
  src/scripts/blocks/media-aside/DisplayComponent.js
  src/scripts/blocks/section/DisplayComponent.js
  src/scripts/blocks/slider/DisplayComponent.js
  src/scripts/packages/components/PostMediaSelector.js
  src/scripts/packages/index.js
  webpack.config.js
Labels: enhancement

#66 Add actions to settings form template
  includes/theme-options.php
Labels: enhancement

#65 Update theme-options.php
  includes/theme-options.php
Labels: bug, enhancement

#64 Update theme-options.php
  includes/theme-options.php
Labels: bug, chore

#90 Add filter to column layouts
  block-languages/benenson-blocks.pot
  includes/block-translations.php
  src/scripts/blocks/columns/layouts.js
Labels: [block] Columns, enhancement

#106 Update language files post-filter merges
  block-languages/benenson-blocks.pot
  includes/block-translations.php
  languages/ar.mo
  languages/ar.po
  languages/benenson.pot
  languages/de_DE.mo
  languages/de_DE.po
  languages/en_US.mo
  languages/en_US.po
  languages/es_ES.mo
  languages/es_ES.po
  languages/fa.mo
  languages/fa.po
  languages/fa_IR.mo
  languages/fa_IR.po
  languages/fr_FR.mo
  languages/fr_FR.po
  languages/fr_ML.mo
  languages/fr_ML.po
  languages/pt.mo
  languages/pt.po
Labels: chore

#107 Remove livereload
  includes/scripts-and-styles.php
Labels: chore

#108 Adds style prop to section
  block-languages/benenson-blocks.pot
  src/scripts/blocks/download/index.js
  src/scripts/blocks/section/DisplayComponent.js
  src/scripts/blocks/section/index.js
Labels: [block] Section, enhancement

#112 Add build status failure integration for Slack
  .travis.yml
Labels: chore

#63 Update DisplayComponent.js
  src/scripts/blocks/link/DisplayComponent.js
Labels: [block] Link, chore

#113 Specify linting package versions
  bin/lint.sh
Labels: bug

#114 Add shellcheck to linter list
  bin/version-bump.sh
  package.json
Labels: enhancement
